
{{#if posts.length}}
<section>
  <h2 class="header-page">Your Posts</h2>
    {{#each posts as |post|}}
        {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}
<div class="postContainer">
  <br/>
<button type="submit" class="btn"><a class="link-button" href="/dashboard/new"> Add New Post</a></button>
</div>

<script src="/js/add-post.js"></script>